using MetalSoft.Core.Persistence;
using MetalSoft.Riscos.Model;
using System;
using System.Collections.Generic;

namespace MetalSoft.{{APPLICATION}}.Persistence
{
	public interface {{ENTITY}}DAO
		: DAO<{{ENTITY}}>
	{
		IList<{{ENTITY}}> Search({{FILTERS}});
	}
}